@import "tailwindcss";

/* import the font used into site */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@theme {
  --color-*: initial;
  --color-sand: #FBF7F4;
  --color-yellow: #E59500;
  --color-green: #507C50;
  --color-black: #02040F;
  --color-blue-night: #002642;

  --font-hand: "Patrick Hand", cursive;
  
}